.authSection{
    text-align: center;
}

/*.authTitle{
    color: black;
    text-shadow: 1px 1px 2px, 0 0 1em red;
}*/

.authBlock{
    margin-top: 1%;
}

.authDescr{
    margin-top: 5%;
    color: black;
    text-shadow: 1px 1px 2px, 0 0 1em red;
    font-size: 17px;
}

label{
    color: black;
    text-shadow: 1px 1px 2px, 0 0 1em red;
    font-size: 19px;
}

.inputs{
    width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}

.authBtn{
    
}

footer{
    position: absolute;
    margin-top: 10%;
}