.coursesCol h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.course{
    border: 3px solid red;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
}

.course:hover{
    border-color: blue;
}

.courseImg{
    width: 220px;
    height: 170px;
    margin-right: 10px;
}

.courseHeader{
    display: inline-flex;
}

.group{
    border: 3px solid red;
    margin-bottom: 20px;
}