.mainAcc{
    display: flex;
}

.sidebar{
    border-right: 3px solid blue;
    width: 250px;
    padding: 10px;
}

.greetingBlock{
    
}

.greeting{
    text-align: center;
}

.avatar{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.avatar:hover{
    opacity: 50%;
}

.headerGreeting{
    display: inline-flex;
}

.groupBlock{
    border: 3px solid red;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}